/* --- Divider --- */
.divider-container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto 2rem auto;
  padding: 10px;
}

.line {
  flex-grow: 1;
  height: 3px;
  background: linear-gradient(to right, #c31d2a, 10%, #cccccc);
}

.divider-container .line:last-child {
  background: linear-gradient(to left, #c31d2a, 10%, #cccccc);
}

.text {
  padding: 0 1rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.3rem;
  white-space: nowrap;
  text-transform: uppercase;
}