/* Palette

Bright Red: #c31d2a 
Dark Red: #612d31
Black: #000000
Grey: #323b41
Blueish: #7a8ea0
Light Grey: #cccccc
white: #ffffff */

.section {
  width: 80%;
  height: 100vh;
  padding: 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fastener-card {
  background: #fff;
  color: #003366;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  max-width: 800px;
  margin-bottom: 2rem;
}

.fastener-card img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 2rem;
}

.fastener-info {
  display: flex;
  flex-direction: column;
}

.carousel-dots {
  margin-top: 1rem;
  opacity: 0.7;
}

.divider-container {
  display: flex;
  align-items: center; 
  width: 80%;
  /* CHANGE: Use clamp() for fluid, constrained margin */
  /* Syntax: clamp(MINIMUM_SIZE, PREFERRED_FLUID_SIZE, MAXIMUM_SIZE) */
  /* margin-top: clamp( 0.1rem, 0vw, 0.5rem); 
  margin-bottom: clamp(0.5rem, 1vw, 1.5rem); */
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.line {
  flex-grow: 1;
  height: 3px;
  background: linear-gradient(to right, #c31d2a, 10%, #cccccc);
}

.divider-container .line:last-child {
  background: linear-gradient(to left, #c31d2a, 10%, #cccccc);
}

.text {
  padding: 0 1rem;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.3rem;
  white-space: nowrap;
}