.section2 {
  width: 100%;
  height: 100vh;
  /* padding: 3rem; */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}
  
.cladding-cards {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  width: 100%;
  border: solid red;
}

.cladding-card {
  background: #fff;
  color: #323b41;
  border-radius: 1rem;
  padding: 1rem;
  height: 38rem;
  width: 25rem;
  text-align: center;
}

.cladding-card img {
  width: 100%;
  height: 20rem;
  object-fit: contain; /*Or fill*/
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.img2{
  object-fit: cover !important;
}

.cladding-card h3{
  color: #c31d2a;
  font-size: 1.5rem;
}

.cladding-card p{
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.5;
}